<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Message</title>
  </head>
  <body>
    <div class="container">
      <h1>Thank you for connecting with us!</h1>
      <h2>Client Details</h2>
      <p><strong>Name:</strong> {{name}}</p>
      <p><strong>Phone:</strong> {{phone}}</p>
      <p><strong>Email:</strong> {{email}}</p>
      <p><strong>Message:</strong> {{msg}}</p>
      <br />
      <p>Your message has been successfully submitted.</p>
      <button class="thank-you">
        <a href="#" class="btn">Return to Website</a>
      </button>
    </div>
  </body>
</html>
